* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* utility*/
.d-block{
	display: block;
}

.size-sb{
	font-size: 28px;
}

.text-sb{
	font-size:12px;
}


body {
	margin: 0 auto;
	font-family: 'TikTok Sans', sans-serif;
}

video {
	height: 100%;
	width: 100%;
	display: block;
	object-position: center;
	object-fit: cover;
}

.reel-page {
	height: 100vh; /* ti incuriosisce? */
	max-width: 512px;
	min-width: 400px;
	position: relative;
}

.reel-header {
	position: absolute;
	align-items: center;
	justify-content: space-between;
	top: 0;
	left: 0;
	right: 0;
	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
.header-btn{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	
}

.header-btn > * {
	width: calc(100% / 3);
	padding: 10px;
}

.socials-btn{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 60%;
	align-items: center;
	text-align: center;
}

.perte-btn, .esplora-btn, .seguiti-btn {
	font-size: 15px;
	color:lightgray
}

.play-btn, .search-btn{
	font-size: 20px;
	color: white;
}

.search-btn{
	text-align: right;
}

/* Footer */

footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
.footer-btn{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	min-height: 50px;
	text-align:center;
}

.ruota-icona {
	display: inline-block;
	transform: rotate(90deg);
}
/* Sidebar */
.sidebar {
	padding: 0 16px;
	position: absolute;
	right: 0;
	top: 40%;

	/* Inserisci qui sotto 
	le tue regole, se necessario. */
}
.actions-btn{
	display: flex;
	flex-direction: column;;
	align-items:center;
	color: white;
	text-align: center;
	gap: 10px;
}

.img-profile{
	border-radius: 50%;
	width: 40px;
	aspect-ratio:auto 1;
	border: 2px solid white;
}


/* ---------------------
Regole per evidenziare i blocchi 
da rimuovere una volta concluso
--------------------- */
.debug footer {
	min-height: 100px;
	border: 2px dashed #fff;
}

.debug .sidebar {
	min-width: 80px;
	min-height: 450px;
	border: 2px dashed #ff0;
}

.debug .reel-header {
	min-height: 50px;
	border: 2px dashed #fff;
}

/* --------------------- */







